@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #9c1302;
  --color-secondary: #f0d8a2;
  --color-secondary-500: #f3dfb2;
  --color-secondary-400: #f5e5c1;
  --color-secondary-300: #f8ecd1;
  --color-secondary-200: #faf2e0;
  --color-secondary-100: #fcf7ec;
  --color-success: #238845;
  --color-white: #ffffff;
  --color-gray: #dfdcdc;
  --color-black: #010100;

  --font-*: initial;
  --font-playfair: "Playfair Display", serif;
  --font-bonheur: "Bonheur Royale", cursive;
}

.brand-text {
  @apply font-bonheur text-3xl tracking-wider italic 2xl:text-4xl;
}

.headline-text {
  @apply font-playfair text-[64px] leading-25 font-bold;
}

.form-title {
  @apply font-playfair text-xl font-bold md:max-lg:text-2xl lg:text-3xl;
}

.title-small {
  @apply font-playfair text-base md:text-xl;
}

.normal-text {
  @apply font-playfair text-sm md:text-base;
}

.semibold-text {
  @apply font-playfair text-sm font-semibold md:text-base;
}

.small-text {
  @apply font-playfair text-[12px] font-semibold tracking-wider;
}

.divider {
  @apply h-px w-full bg-gray;
}
