@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #9c1302;
  --color-secondary: #f0d8a2;
  --color-success: #238845;
  --color-white: #ffffff;
  --color-gray: #dfdcdc;
  --color-black: #010100;

  --font-*: initial;
  --font-playfair: "Playfair Display", serif;
  --font-bonheur: "Bonheur Royale", cursive;
}

.heading-text {
  @apply font-bonheur text-xl font-bold tracking-wider md:max-lg:text-3xl/16 lg:text-4xl/16;
}

.form-title {
  @apply font-playfair text-xl font-bold md:max-lg:text-2xl lg:text-3xl;
}

.normal-text {
  @apply font-playfair text-sm md:text-base;
}

.semibold-text {
  @apply font-playfair text-sm font-semibold md:text-base;
}

.small-text {
  @apply font-playfair text-[12px] font-semibold tracking-wider text-primary;
}

.divider {
  @apply h-px w-full bg-gray;
}

.button-primary {
  @apply inline-flex w-full cursor-pointer items-center justify-center gap-2 rounded-lg bg-primary py-2 font-playfair text-sm font-semibold tracking-wide text-white md:text-base lg:py-2.5;
}

.button-outline {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg bg-white py-2 font-playfair text-sm font-semibold tracking-wide text-black outline-2 outline-gray md:text-base lg:py-2.5;
}

.button-disable {
  @apply inline-flex w-full cursor-default items-center justify-center gap-2 rounded-lg bg-gray py-2 font-playfair text-sm font-semibold tracking-wide text-white md:text-base lg:py-2.5;
}
