@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #9c1302;
  --color-secondary: #f0d8a2;
  --color-success: #238845;
  --color-white: #ffffff;
  --color-gray: #dfdcdc;
  --color-black: #010100;

  --font-*: initial;
  --font-playfair: "Playfair Display", serif;
  --font-bonheur: "Bonheur Royale", cursive;
}

.heading-text {
  @apply font-bonheur md:max-lg:text-3xl/16 lg:text-4xl/16 text-xl font-bold tracking-wider;
}

.form-title {
  @apply font-playfair text-xl font-bold md:max-lg:text-2xl lg:text-3xl;
}

.normal-text {
  @apply font-playfair text-sm md:text-base;
}

.semibold-text {
  @apply font-playfair text-sm font-semibold md:text-base;
}

.small-text {
  @apply font-playfair text-primary text-[12px] font-semibold tracking-wider;
}

.divider {
  @apply bg-gray h-px w-full;
}

.button-primary {
  @apply bg-primary font-playfair inline-flex w-full cursor-pointer items-center justify-center gap-2 rounded-lg py-2 text-sm font-semibold tracking-wide text-white md:text-base lg:py-2.5;
}

.button-outline {
  @apply font-playfair outline-gray inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg bg-white py-2 text-sm font-semibold tracking-wide text-black outline-2 md:text-base lg:py-2.5;
}

.button-disable {
  @apply bg-gray font-playfair inline-flex w-full cursor-default items-center justify-center gap-2 rounded-lg py-2 text-sm font-semibold tracking-wide text-white md:text-base lg:py-2.5;
}
